{% extends 'base.html' %}
{% block page_content %}
{% load static %}
<section class="hero is-info">
    <div class="hero-head">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
    </div>
    <div class="hero-body">
    <h1 class="title">{{ discipline.name|title }}</h1>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                {% for program in discipline.programs.all %}
                <div class="box media">
                    <div class="media-left">
                        <figure class="image is-rounded is-64x64">
                            <img src="{% static "img/worm.png" %}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <a href="{% url 'program' program.pk %}">
                            <span class="is-size-4 is-link">
                                {{ program.name }}
                            </span>
                            <p class="subtitle is-6">เหมาะสำหรับ {{ program.target }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <a class="button is-light" href="/">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>Home</span>
        </a>
    </div>
</section>
{% endblock %}