{% extends 'base.html' %}
{% block page_content %}
{% load static %}
<section class="hero is-info">
    <div class="hero-body">
    <h1 class="title">{{ discipline.name|title }}</h1>
    </div>
</section>
<section class="section">
    <div class="container">
        {% for program in discipline.programs.all %}
        <div class="box media">
            <div class="media-left">
                <figure class="image is-rounded is-64x64">
                    <img src="{% static "img/worm.png" %}">
                </figure>
            </div>
            <div class="media-content">
                <a class="title is-4" href="{% url 'program' program.pk %}">
                    <h1 class="title is-4 is-link">{{ program.name }}</h1>
                    <p class="subtitle is-6">{{ program.target }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}