{% extends "base.html" %}

{% block page_content %}
<section class="hero is-info">
    <div class="hero-body">
    <h1 class="title is-3">{{ session.name }}</h1>
    <h3 class="subtitle is-4">{{ session.description }}</h3>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="panel">
            {% for ms in session.microscope_sections.all %}
            <a class="panel-block" href="{% url 'microscope' ms.pk %}">
                <span class="panel-icon">
                    <i class="far fa-hand-point-right has-text-info" aria-hidden="true"></i>
                </span>
                <span>{{ ms.name }}</span>
            </a>
            {% endfor %}
        </div>
        <div class="has-text-centered">
            <a class="button is-rounded is-danger"
               href="{% url "program" pk=session.program.pk %}">Back</a>
            <a class="button is-rounded is-light" href="/">Home</a>
        </div>
    </div>
</section>
{% endblock %}
