{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<section class="section">
    <div class="columns">
        <div class="column is-5 has-text-centered is-offset-3 box">
            <h1 class="title is-size-4">Report for {{scope_section.name}} (Section ID={{scope_section.id}})</h1>
            <div class="panel">
            <div class="panel-heading">
                <h4 class="title is-size-5">Parasites found</h4>
            </div>
                {% if corrects or incorrects %}
                <div class="panel-block has-text-centered">
                    <ul>
                        <h3 class="title is-size-6">{{corrects|length}} correct answer{{corrects|pluralize}}</h3>
                        {% for parasite in corrects %}
                        <li class="has-text-info"><i>{{parasite}}</i></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-block has-text-centered">
                    <ul>
                        <h3 class="title is-size-6">{{incorrects|length}} parasite{{incorrects|pluralize}} not found</h3>
                        {% for parasite in incorrects %}
                        <li class="has-text-danger"><i>{{parasite}}</i></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-heading">
                    References
                </div>
                {% for pc in parasite_components %}
                {% if pc.parasite.parasite_pages.all %}
                <div class="panel-block">
                    <ul>
                        <h3 class="title is-size-6">
                            <i>{{pc.parasite.genus}} {{pc.parasite.species}}</i>
                        </h3>
                        {% for item in pc.parasite.parasite_pages.all %}
                        <li><a href="{{item.page.url}}">{{item.page.title}}</a></li>
                        {% empty %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    <div class="panel-block">
                        <div class="control is-grouped">
                        {% for parasite in parasites %}
                            <p class="control">
                                <label class="checkbox">
                                    <input type="checkbox" value="{{parasite.id}}" name="answers">
                                    <i>{{parasite.genus}} {{parasite.species}}</i>
                                </label>
                            </p>
                        {% endfor %}
                        </div>
                    </div>
                    <br>
                <button type="submit" class="button is-primary is-rounded">Submit</button>
                <a href="{% url 'microscope' scope_section.id %}" class="button is-rounded">
                    <span class="icon is-large">
                        <i class="fas fa-redo-alt has-text-dark"></i>
                    </span>&nbsp;
                    Start over
                </a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% if corrects or incorrects %}
    <div class="columns">
        <div class="column is-offset-5 is-3">
            <a href="/" class="button is-rounded">
                <span class="icon is-large">
                    <i class="fas fa-home has-text-dark"></i>
                </span>&nbsp;
                Home
            </a>
            <a href="{% url 'microscope' scope_section.id %}" class="button is-rounded">
                <span class="icon is-large">
                    <i class="fas fa-redo-alt has-text-dark"></i>
                </span>&nbsp;
                Start over
            </a>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}
