{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<section class="hero is-white">
    <div class="hero-body">
    <div class="columns">
        <div class="column is-one-third is-offset-4">
            <h1 class="title is-size-4 has-text-centered">Report for {{scope_section.name}} (Section ID={{scope_section.id}})</h1>
            <div class="panel">
            <div class="panel-heading">
                <h4 class="title is-size-5">Parasites found</h4>
            </div>
                {% if corrects or incorrects %}
                <div class="panel-block">
                    <ul>
                        <h3 class="title is-size-6">{{corrects|length}} correct answer{{corrects|pluralize}}</h3>
                        {% for parasite in corrects %}
                        <li class="has-text-info"><i>{{parasite}}</i></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-block">
                    <ul>
                        <h3 class="title is-size-6">{{incorrects|length}} parasite{{incorrects|pluralize}} misidentified</h3>
                        {% for parasite in incorrects %}
                        <li class="has-text-danger"><i>{{parasite}}</i></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-block">
                    <ul>
                        <h3 class="title is-size-6">{{missing|length}} not unidentified {{missing|pluralize}}</h3>
                        {% for parasite in missing %}
                        <li class="has-text-danger"><i>{{parasite}}</i></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3>References</h3>
                </div>
                {% for pc in parasite_components %}
                {% if pc.parasite.parasite_pages.all %}
                <div class="panel-block">
                    <div class="content">
                        <strong><i>{{pc.parasite.genus}} {{pc.parasite.species}}</i></strong>
                        <ul>
                            {% for item in pc.parasite.parasite_pages.all %}
                            <li><a href="{{item.page.url}}">{{item.page.title}}</a></li>
                            {% empty %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    <div class="panel-block">
                        <div class="control is-grouped">
                        {% for parasite in parasites %}
                            <p class="control">
                                <label class="checkbox">
                                    <input type="checkbox" value="{{parasite.id}}" name="answers">
                                    <i>{{parasite.genus}} {{parasite.species}}</i>
                                </label>
                            </p>
                        {% endfor %}
                        </div>
                    </div>
                    <br>
                <button type="submit" class="button is-primary is-rounded">Submit</button>
                <a href="{% url 'microscope' scope_section.id %}" class="button is-rounded">
                    <span class="icon is-large">
                        <i class="fas fa-redo-alt has-text-dark"></i>
                    </span>&nbsp;
                    Start over
                </a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% if corrects or incorrects %}
    <div class="columns">
        <div class="column is-offset-4 is-one-third">
            <div class="buttons is-centered">
                <a href="/" class="button is-rounded is-link">
                    <span class="icon is-large">
                        <i class="fas fa-home"></i>
                    </span>&nbsp;
                    Home
                </a>
                <a href="{% url 'microscope' scope_section.id %}" class="button is-rounded is-primary">
                    <span class="icon is-large">
                        <i class="fas fa-redo-alt"></i>
                    </span>&nbsp;
                    Start over
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
</section>
{% endblock %}
