{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}
{% block page_content %}
<section class="section">
    <h1 class="title has-text-dark">
        <span class="icon">
            <i class="fas fa-images"></i>
        </span>&nbsp;
        <span>Photo Hunt version 0.1</span>
    </h1>
    <div class="columns">
        <div class="column">
            <canvas id="imageCanvas" width="800" height="800"></canvas>
        </div>
        <div class="column">
            <span>Photo ID = {{ image.image.url }}</span>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/vendors/createjs.min.js' %}"></script>
<script>
    var stage = new createjs.Stage("imageCanvas");
    var bitmap = new createjs.Bitmap("{{ image.image.url }}");
    bitmap.addEventListener("click", handleClick);
    var text = new createjs.Text("", "20px Arial");
    stage.addChild(bitmap);
    stage.addChild(text);
    stage.update();
    function handleClick(event) {
        console.log(event.localX, event.localY);
        text.x = event.localX;
        text.y = event.localY;
        text.text = event.localX + ',' + event.localY;
        stage.update();
    }
</script>
{% endblock %}

