{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}
{% block page_content %}
<section class="section">
    <h1 class="title has-text-dark">
        <span class="icon">
            <i class="fas fa-images"></i>
        </span>&nbsp;
        <span>Photo Hunt version 0.1</span>
    </h1>
    <div class="columns">
        <div class="column">
            <canvas id="imageCanvas" width="800" height="800"></canvas>
        </div>
        <div class="column">
            <span>Photo ID = {{ image.image.url }}</span>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/vendors/createjs.min.js' %}"></script>
<script>
    function handleClick(event) {
        text.x = event.localX.toFixed(2);
        text.y = event.localY.toFixed(2);
        text.text = 'x=' + text.x + ', y=' + text.y;
        stage.update();
    }

    function handleComplete(event) {
        //Add the event listener and handler
        var image = queue.getResult('image')
        var bmp = new createjs.Bitmap(image);
        bmp.addEventListener("click", handleClick);
        stage.addChild(bmp);
        stage.update();
    }

    var stage = new createjs.Stage("imageCanvas");
    var queue = new createjs.LoadQueue(false);
    queue.on('complete', handleComplete)
    queue.loadFile({src:"{{ image.image.url }}", crossOrigin:true, id:"image"});
    var text = new createjs.Text("", "20px Arial");
    stage.addChild(text);
    stage.update();
</script>
{% endblock %}

