{% extends "base.html" %}
{% block page_content %}
{% load static %}
<section class="section hero is-info">
    <div class="hero-body has-text-centered">
        <h1 class="title">Welcome to The Photohunt Learning Platform</h1>
        <h1 class="subtitle">Developing a Mindset for Microscopic Diagnoses.</h1>
        <img src="{% static "img/photo.png" %}">
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <h1 class="title is-size-4">คำแนะนำ</h1>
                    <p>
                        ในระบบมีหลาย Session โปรดเลือก session ที่ท่านต้องการจากทางขวามือ
                        ในแต่ละ session จะมีรูปและชุดคำถามเป็นชุดๆ ให้ทำจนครบเพื่อตรวจและดูคำตอบ
                        กรุณาเลือกคำตอบที่คิดว่าตรงกับคำถามและหมายเลขที่ระบุในรูปภาพมากที่สุด
                    </p>
                </div>
            </div>
            <div class="column">
                <article class="panel is-info">
                    <p class="panel-heading">
                        Malaria
                    </p>
                    {% for session in sessions %}
                    <a class="panel-block" href="{% url 'show_session' session.pk %}">
                        <span class="panel-icon">
                            <i class="far fa-hand-point-right" aria-hidden="true"></i>
                        </span>
                        {{ session.title }} ({{ session.tagsets.count }} ชุดคำถาม)
                    </a>
                    {% endfor %}
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}
