{% extends 'base.html' %}
{% block page_content %}
{% load static %}
<section class="hero is-info">
    <div class="hero-head">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
    </div>
    <div class="hero-body">
        <h1 class="title is-3">{{ program.title|title }}</h1>
        <p class="subtitle is-4">{{ program.description }}</p>
    </div>
</section>
<section class="section">
    {% for session in program.sessions.all %}
    <div class="box media">
        <div class="media-left">
            <div class="media-left">
                <figure class="image is-rounded is-64x64">
                    <img src="{% static "img/gym.png" %}">
                </figure>
            </div>
        </div>
        <div class="media-content">
            <a href="{% url 'photohunt:show_session' session.pk %}">
                <h1 class="title is-4">{{ session.title|title }}</h1>
                <h2 class="subtitle is-6">{{ session.desc }}</h2>
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="buttons is-centered">
        <a class="button is-danger" href="{% url "photohunt:show_discipline" pk=program.discipline.pk %}">
            <span class="icon">
                <i class="far fa-arrow-alt-circle-left"></i>
            </span>
            <span>Back</span>
        </a>
        <a class="button is-light" href="/">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>Home</span>
        </a>
    </div>
</section>
{% endblock %}
