{% extends "base.html" %}
{% block page_content %}
{% load static %}
<section class="hero is-success">
    <div class="hero-head">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
    </div>
    <div class="hero-body has-text-centered">
        <img src="{% static "img/gift-box.png" %}" width=120>
        <h1 class="title is-size-4">Session Summary</h1>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-one-third is-offset-4">
            {% for ts,report in results.items %}
            <div class="box">
            <p class="title is-size-5">{{ forloop.counter }}) {{ ts.title }}</p>
            <table class="table is-striped is-fullwidth">
                <thead>
                <th>Question</th>
                <th>Your Answer</th>
                <th colspan="2">Correct Answer</th>
                </thead>
                {% for tag,ans,res in report %}
                <tr>
                    <td>{{ tag.question }}</td>
                    <td>{{ ans }}</td>
                    {% if res %}
                    <td>
                <span class="icon">
                    <i class="fas fa-check has-text-success"></i>
                </span>
                    </td>
                    {% else %}
                    <td>
                <span class="icon">
                   <i class="fas fa-times has-text-danger"></i>
                </span>
                    </td>
                    {% endif %}
                    <td>{{ tag.answer }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            {% endfor %}
        </div>
        <div class="column is-one-third">
        </div>
    </div>
    <div class="buttons is-centered">
        <a class="button is-warning"
           href="{% url "photohunt:show_session" pk=session.pk %}">
            <span class="icon">
               <i class="fas fa-redo-alt"></i>
            </span>
            <span>Start Over</span>
        </a>
        <a href="{% url "photohunt:show_tagset_key" session_pk=session.pk tsnum=0 %}"
            class="button is-success">
            คลิกดูรูปเฉลย
        </a>
        <a href="{% url "photohunt:show_program" pk=session.program.pk %}"
            class="button is-light">
            <span class="icon">
                <i class="fas fa-list-ul"></i>
            </span>
            <span>Sessions</span>
        </a>
    </div>
</section>
{% endblock %}
