{% extends "base.html" %}
{% block page_content %}
{% load static %}
<section class="hero is-medium is-info">
    <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="{% static "img/boy.png" %}"/>
            </div>
            <div class="column">
                <div class="box">
                <h1 class="title has-text-black">Yo, guys! Your are about to begin working on {{ session.title }}</h1>
                <article>
                    <a href="#" class="button is-rounded is-info is-large">
                        <span>Let's get started!</span>
                        <span class="icon">
                            <i class="far fa-hand-point-right"></i>
                        </span>
                    </a>
                </article>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
