{% extends "base.html" %}
{% block page_content %}
{% load static %}
{% include 'navbar.html' %}
<section class="hero is-medium is-info">
    <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <img src="{% static "img/boy.png" %}"/>
            </div>
            <div class="column">
                <div class="box">
                <h1 class="title has-text-black">Yo, guys! Your are about to begin working on {{ session.title }}</h1>
                <article>
                    <a href="{% url "photohunt:show_tagset" tsnum=0 session_pk=session.pk %}" class="button is-rounded is-info is-large">
                        <span>Let's get started!</span>
                        <span class="icon">
                            <i class="far fa-hand-point-right"></i>
                        </span>
                    </a>
                    <a class="button is-rounded is-light is-large"
                        href="{% url "photohunt:show_program" pk=session.program.pk %}"
                        >
                        <strong>Back</strong>
                    </a>
                </article>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
